<div class="container">

    <div class="row">
        <div class="col-sm">
            <div></div>
        </div>
        <div class="col-sm">
            <div class="square"></div>
        </div>
        <div class="col-sm">
            <div class="square"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm">
            <input [(ngModel)]="base" placeholder="inserisci la base"> 
            <input [(ngModel)]="altezza" placeholder="inserisci l'altezza">
        </div>

        <div class="col-sm">
            <p> Area del parallelogramma: <br> <span class="badge badge-warning">{{ getArea() }}</span></p> 
        </div>
        <div class="col-sm">
            <p> Perimetro del parallelogramma: <br> <span class="badge badge-warning">{{ getPerimeter() }}</span></p> 
        </div>
    </div>
</div>
